<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <title>Cart Details</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Product List</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/products}">Go back</a>
        </li>
      </ul>
      <span class="navbar-text" th:text="${loggedInUserName}"></span>
    </div>
  </div>
</nav>
<div class="container">
  <h1 class="text-center">Cart Details</h1>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Cart ID</th>
      <th>Product Name</th>
      <th>Product Description</th>
      <th>Price</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cart : ${cartDetails}">
      <td th:text="${cart.cartId}"></td>
      <td th:text="${cart.product.name}"></td>
      <td th:text="${cart.product.description}"></td>
      <td th:text="${cart.product.price}"></td>
      <td>
        <img alt="" th:src="@{/images/__${cart.product.imageName}__}" width="100px" height="100px" />
      </td>
      <td>
        <a th:href = "@{/delete_cart/{id}(id = ${cart.cartId})}" class = "btn btn-danger">Delete</a>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</body>
</html>
